  <div>
            <div class="karouselboks">
                <div class="karousel">
                    <h1 class="titel">I'M STILL HERE</h1>
                    <div class="karousel-track">
                        <span class="arrow arrow-left">&#10094;</span>

                        <a class="day" href="biografsal.html">
                            <p class="day-name">MAN</p>
                            <p class="day-date">1/12</p>
                            <p class="day-time">12:00</p>
                        </a>

                        <a class="day" href="biografsal.html">
                            <p class="day-name">TIRS</p>
                            <p class="day-date">2/12</p>
                            <p class="day-time">12:00</p>
                        </a>

                        <a class="day" href="biografsal.html">
                            <p class="day-name">ONS</p>
                            <p class="day-date">3/12</p>
                            <p class="day-time">12:00</p>
                        </a>

                        <a class="day" href="biografsal.html">
                            <p class="day-name">TORS</p>
                            <p class="day-date">4/12</p>
                            <p class="day-time">12:00</p>
                        </a>

                        <a class="day" href="biografsal.html">
                            <p class="day-name">FRE</p>
                            <p class="day-date">5/12</p>
                            <p class="day-time">12:00</p>
                        </a>

                        <a class="day" href="biografsal.html">
                            <p class="day-name">LØR</p>
                            <p class="day-date">5/12</p>
                            <p class="day-time">12:00</p>
                        </a>

                        <a class="day" href="biografsal.html">
                            <p class="day-name">SØN</p>
                            <p class="day-date">6/12</p>
                            <p class="day-time">12:00</p>
                        </a>

                        <span class="arrow arrow-right">&#10095;</span>
                    </div>
                </div>