<header>
  <div class="logo">
    <img src="/favicon_io (1)" alt="Klein logo" />
  </div>

  <ul class="menu">
    <li><a href="#">Program</a></li>
    <li><a href="#">Om Klein</a></li>
    <li><a href="#">Bliv frivillig</a></li>
    <li><a href="#">Praktisk</a></li>
  </ul>

  <button class="burger"> .
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    background-color: #7c667d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .logo {
    background: white;
    padding: 20px;
  }

  .logo img {
    height: 40px;
  }

  .menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 90px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    text-align: center;
  }

  .menu a:hover {
    opacity: 0.8;
  }

  .burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px;
  }

  .line {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
  }
</style>

<script is:inline>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector(".menu");

  if (burger && nav) {
    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
    });
  }
</script>
